<!DOCTYPE html>
<html ng-app="zombbApp">
<head>
  <title>Zombb</title>
  <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href="/demo/dist/zombb.min.css" rel='stylesheet' type='text/css'>
  <link href="/demo/bower_components/fontawesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/demo/bower_components/angular-devise/lib/devise-min.js"></script>

  <script src="/demo/dist/zombb.min.js"></script>
</head>
<body>
    <header class="nav navbar-static-top" role="banner" id="top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">ZomBB</a>
            </div>
            <nav role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:3000/"><i class="fa fa-gavel"></i> Simple app</a></li>
                    <li><a href="#/posts"><i class="fa fa-list"></i> Read posts</a></li>
                    <li ng-if="isAdmin"><a href="#/users/"><i class="fa fa-users"></i> Users</a></li>
                </ul>
            </nav>
            <nav role="navigation" class="auth pull-right">
                <ul class="nav navbar-nav">
                    <li ng-if="Auth.isAuthenticated()"><a href="#/users/{{Auth._currentUser.id}}" class="fa fa-user">{{ Auth._currentUser.name }}</a></li>
                    <li ng-if="Auth.isAuthenticated()"><a href="#/users/sign-out" class="fa fa-sign-out">Log out</a></li>
                    <li ng-unless="Auth.isAuthenticated()"><a href="#/users/sign-in" class="fa fa-sign-in">Log in</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="background">
        <div class="container">

            <div ng-view></div>

        </div>
    </div>
</body>
</html>
